*{
    margin: 0;
    padding: 0;
    
}

:root{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

#principal{
    margin: 88px auto 58px;
    width: 1120px;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    padding: 88px 80px 72px;
}

#title{
    margin-bottom: 40px;
    
}
.destaque {
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
    padding-bottom: 8px;
    
}

h1{
    font-size: 36px;
    font-weight: bold;
}


img {
    margin: 40px 0 24px 0;
    width: 100%;
    border-radius: 28px;
    object-fit: cover;
    height: 660px;
}



.italic{
    font-style: italic;
    text-align: center;
    margin-top: 24px;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin: 40px 0 84px;
}


.locals img{
    height: 350px;
    object-fit: cover;
}

#list .destaque{
    padding-bottom: 2px;
}

ul li::marker{
    color: #000;
}

ul li{
    color: #0C51A7;
    font-weight: bold;
}

.colors li:nth-child(1){
    color: #591B98;
}

.colors li:nth-child(2){
    color: #E5245E;
}
.colors li:nth-child(3){
    color: #E95E10;
}

.center{
    text-align: center;
}

footer{
    font-family: alice, serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0 0 48px 0;
}

footer img{
    width: 16px;
    height: 16px;
    vertical-align:middle;
       
}